---
layout: archive
title: "Advisors and Collaborators"
permalink: /collaborators/
author_profile: true
---

{% include base_path %}

<p class="people-intro">
  Collaborating with each of them has been a remarkable learning experience. I
  have active collaborations with many of them, and I hope to have more fruitful
  ones in the future!
</p>

{% comment %} Ordered via the `order` field in each _collaborators entry. {% endcomment %}
{% assign people = site.collaborators | sort: 'order' %}
{% for post in people %}
  {% include people-section.html %}
{% endfor %}
