---
layout: archive
title: "Mentoring"
permalink: /mentoring/
author_profile: true
---

{% include base_path %}

{% for block in site.data.mentees %}
  <div class="people-section">
    <div class="people-label">
      <span class="people-label-group">{{ block.group }}</span>
      <span class="people-label-kind">students</span>
    </div>
    <div class="people-names">
      {% for s in block.students %}
        <div class="mentee">
          <div class="mentee-name"><strong>{{ s.name }}</strong>, {{ s.where }}</div>
          <ul class="mentee-projects">
            {% for pr in s.projects %}
              {%- assign href = '' -%}
              {%- if pr.url -%}
                {%- assign href = pr.url -%}
              {%- elsif pr.permalink -%}
                {%- assign pub = site.publications | where: 'permalink', pr.permalink | first -%}
                {%- if pub -%}
                  {%- if pub.pdfurl and pub.pdfurl != '' -%}{%- assign href = pub.pdfurl -%}
                  {%- elsif pub.paperurl and pub.paperurl != '' -%}{%- assign href = pub.paperurl -%}
                  {%- endif -%}
                {%- endif -%}
              {%- endif -%}
              <li>
                {%- if href != '' -%}
                  <a href="{{ href }}" target="_blank" rel="noopener noreferrer">{{ pr.title }}</a>
                {%- else -%}
                  {{ pr.title }}
                {%- endif -%}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>
{% endfor %}
