---
layout: archive
title: ""
permalink: /talks/
author_profile: true
---

<h2>RainBlock: Faster Transaction Processing for Public Blockchains</h2> 

<p>
Conference: SNIA, Storage Developer Conference, 2022 <br>
  <video width="320" height="240" controls>
    <source src="https://www.youtube.com/watch?v=KBlS81En1bY" type="video/mp4">
  </video>
</p>


<p>
  Conference: USENIX, Annual Technical Conference, 2021 <br>
  <video width="320" height="240" controls>
    <source src="https://www.youtube.com/watch?v=oyrWI2LaDq8" type="video/mp4">
  </video>
</p>

<!-- [![alt text](https://img.youtube.com/vi/KBlS81En1bY/0.jpg)](https://www.youtube.com/watch?v=KBlS81En1bY)


[![alt text](https://img.youtube.com/vi/oyrWI2LaDq8/0.jpg)](https://www.youtube.com/watch?v=oyrWI2LaDq8) -->


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
